@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
html {
    display: block;
    height: 100%;
    width: 100%;
}

body {
    display: block;
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background: rgb(180, 58, 23);
    background: linear-gradient(90deg, rgba(180, 58, 23, 1) 9%, rgba(9, 9, 121, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

ul {
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    color: inherit;
    text-decoration: inherit
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.headerDiv {
    background-color: #ffffff;
}

.SideBar,
.MusicNavigation {
    background-color: rgba(241,242,244,255);
}

.wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 0.8fr 3.6fr 0.8fr;
    grid-template-rows: 1fr 2.5fr 10fr;
    gap: 0px 0px;
    grid-template-areas:
        "brandLogo middleHeader SearchBox"
        "CurrentSongBox CurrentSongBox CurrentSongBox"
        "MusicNavigation ScrolledMain SideBar";
}

.brandLogo {
    grid-area: brandLogo;
}

.middleHeader {
    grid-area: middleHeader;
}

.SearchBox {
    grid-area: SearchBox;
}

.middleHeader {
    display: flex;
    flex-direction: row;
}

.middleHeader>div:nth-child(2) {
    margin-left: auto;
}

.headerBox {
    display: flex;
    width: max-content;
    font-size: 18px;
    align-items: center;
}

.SearchBox {
    display: flex;
    font-size: 18px;
    align-items: center;
    border-left: 1px solid #d5d8dc;
}

.searchMusic {
    font-style: italic;
    border: none;
    height: 45px;
}

.submitSearch {
    width: 24px;
    height: 24px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/1024px-Search_Icon.svg.png");
    background-size: cover;
}

.textRows,
.imageTextRows,
.imageGrid {
    margin-right: 5px;
    margin-left: 5px;
    width: 24px;
    height: 16px;
}

.textRows {
    background-image: url(source/rows.PNG);
    background-size: cover;
}

.imageTextRows {
    background-image: url(source/imgRows.PNG);
    background-size: cover;
}

.imageGrid {
    background-image: url(source/imgGrid.PNG);
    background-size: cover;
}

.searchedGenre {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

.brandLogo {
    display: flex;
    font-size: 18px;
    align-items: center;
    border-right: 1px solid #d5d8dc;
}

.contentBox {
    padding-left: 20px;
    padding-right: 20px;
}

.CurrentSongBox {
    grid-area: CurrentSongBox;
    background: linear-gradient(90deg, rgb(69, 2, 100) 9%, rgb(59, 59, 160) 100%, rgba(0, 212, 255, 1) 100%);
}

.MusicNavigation {
    grid-area: MusicNavigation;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #d5d8dc;
}

.MusicNavigation>div:nth-child(2) {
    margin-top: auto;
}

.HeadLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.BigLabel {
    text-transform: uppercase;
    font-size: 16px;
}

.addButton {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Feather-core-plus-circle.svg/1024px-Feather-core-plus-circle.svg.png);
    background-size: cover;
    width: 20px;
    height: 20px;
}

.SideBarList li {
    display: flex;
    font-size: 13px;
    height: 30px;
    align-items: center;
}

.SideBar li {
    margin-top: 10px;
    margin-bottom: 15px;
    height: max-content;
}

.MusicNavigation li:hover {
    background-color: rgba(223,226,233,255);
}

.selectedItem {
    background-color: rgba(223,226,233,255);
}

.MusicNavigation a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.BottomSideBarBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    border-top: 2px solid #c9ccd0;
}

.BottomSideBarBox>div:nth-child(3) {
    margin-left: auto;
}

.BottomSideBarBoxRowsSymbol {
    width: 18px;
    height: 11px;
    background-image: url(https://cdn-icons-png.flaticon.com/512/44/44602.png);
    background-size: cover;
}

.PlaylistImage {
    margin-right: 5px;
    margin-left: 5px;
    width: 18px;
    height: 18px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e7/%22AM%22_%28Arctic_Monkeys%29.jpg);
    background-size: 18px 18px;
}

.PlaylistName {
    font-size: 11px;
}

.SideBar {
    grid-area: SideBar;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #d5d8dc;
}

.SideBar>div:nth-child(2) {
    margin-top: auto;
}

.SongRowFormat {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 11px;
}

.AlbumImageRowFormat {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e7/%22AM%22_%28Arctic_Monkeys%29.jpg);
    background-size: 30px 30px;
}

.SongNameAndSingerRowFormat {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.SingerRowFormat {
    font-weight: 600;
    margin-bottom: 5px;
}

.UserAvatar {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-image: url(https://jutsume.com/images/2021/05/13/kento-nanami-jujutsu-nanami-male-sketch.jpg);
    background-size: cover;
}

.UserName {
    font-size: 14px;
    font-weight: 500;
}

.LogOutSymbol {
    width: 18px;
    height: 18px;
    background-image: url(https://www.pngrepo.com/png/379783/512/arrow-circle-right.png);
    background-size: cover;
}

.ScrolledMain {
    grid-area: ScrolledMain;
    background-color: #ffffff;
    overflow-y: scroll;
}

.ScrolledMain::-webkit-scrollbar {
    display: none;
}

.SearchResultPlace {
    height: 100%;
    width: 100%;
}

.SearchedSongs {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    gap: 20px;
    margin: 20px;
    margin-left: 31.695px;
}

.SongGridFormat {
    display: grid;
    flex-direction: column;
    align-items: center;
}

.ChooseSong {
    width: 100%;
    max-width: 150px;
    height: 150px;
    margin-bottom: 5px;
    display: flex;
    cursor: pointer;
    justify-content: space-around;
    transition: all 0.4s ease;
    background-size: 150px 150px;
    background-color: black;
}

.SearchedSongs>li:nth-child(odd) .SongGridFormat .ChooseSong {
    background-color: #8271fc;
}

.SearchedSongs>li:nth-child(even) .SongGridFormat .ChooseSong {
    background-color: #d46ddd;
}

.SearchedSongs>li:nth-child(1) .SongGridFormat .ChooseSong {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e7/%22AM%22_%28Arctic_Monkeys%29.jpg);
}
.SearchedSongs>li:nth-child(2) .SongGridFormat .ChooseSong {
    background-image: url(https://upload.wikimedia.org/wikipedia/en/a/ae/Favourite_Worst_Nightmare.jpg);
}
.SearchedSongs>li:nth-child(3) .SongGridFormat .ChooseSong {
    background-image: url(https://upload.wikimedia.org/wikipedia/ru/1/19/Wonderwall_single.jpg);
}
.SearchedSongs>li:nth-child(4) .SongGridFormat .ChooseSong {
    background-image: url(https://upload.wikimedia.org/wikipedia/en/a/ae/Thegetawayalbum.jpg);
}
.SearchedSongs>li:nth-child(5) .SongGridFormat .ChooseSong {
    background-image: url(https://upload.wikimedia.org/wikipedia/en/9/96/Clocks_single.jpg);
}
.SearchedSongs>li:nth-child(6) .SongGridFormat .ChooseSong {
    background-image: url(https://upload.wikimedia.org/wikipedia/en/8/87/Everything_You%27ve_Come_to_Expect_%28Front_Cover%29.png);
}
.SearchedSongs>li:nth-child(7) .SongGridFormat .ChooseSong {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e7/%22AM%22_%28Arctic_Monkeys%29.jpg);
}
.SearchedSongs>li:nth-child(8) .SongGridFormat .ChooseSong {
    background-image: url(https://upload.wikimedia.org/wikipedia/en/9/9f/Room_on_Fire_cover.jpg);
}
.SearchedSongs>li:nth-child(9) .SongGridFormat .ChooseSong {
    background-image: url(https://upload.wikimedia.org/wikipedia/en/f/f0/Insideininsideout.jpg);
}
.SearchedSongs>li:nth-child(10) .SongGridFormat .ChooseSong {
    background-image: url(https://upload.wikimedia.org/wikipedia/en/8/80/Naive_cover.jpg);
}
.SearchedSongs>li:nth-child(11) .SongGridFormat .ChooseSong {
    background-image: url(https://upload.wikimedia.org/wikipedia/en/d/d9/Strokes_1.jpg);
}
.SearchedSongs>li:nth-child(12) .SongGridFormat .ChooseSong {
    background-image: url(https://upload.wikimedia.org/wikipedia/en/2/20/Metric-synthetica.jpg);
}
.SearchedSongs>li:nth-child(13) .SongGridFormat .ChooseSong {
    background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/f/f3/Be_the_Cowboy.jpg/220px-Be_the_Cowboy.jpg);
}
.SearchedSongs>li:nth-child(14) .SongGridFormat .ChooseSong {
    background-image: url(https://upload.wikimedia.org/wikipedia/en/3/38/Arctic_Monkeys_%E2%80%93_Tranquility_Base_Hotel_%26_Casino.png);
}

.ChooseSong:hover {
    box-shadow: inset -1px 0px 14px 2000px #00000087;
}


.PlaySymbol {
    position: sticky;
    opacity: 0;
    align-self: center;
    width: 37.5px;
    height: 37.5px;
}

.ChooseSong:hover .PlaySymbol {
    opacity: 1;
}

.SongNameAndAuthorGridFormat {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    max-height: 30.4;
}

.BandNameGridFormat {
    font-weight: 600;
}

.CurrentSongBox {
    display: flex;
    flex-direction: column;
    background-image: url(https://wallpaper.dog/large/10906200.jpg);
    background-size: 100% auto;
    background-position-y: 10%;
    border-bottom: 1px solid #d5d8dc;
}

.CurrentSongBox>div:last-child {
    margin-top: auto;
    background-color: white;
}

.CurrentSongBoxDetails {
    padding-left: 256.3px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: max-content;
}

.CurrentSongBoxName {
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
}

.CurrentSongBoxBand {
    font-size: 16px;
    font-weight: 600;
}

audio {
    width: 100%;
    height: 30px;
}

.AudioBox {
    display: flex;
    justify-content: center;
    width: 100%;
}
